* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./project9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}


.weather {
    z-index: 2;
    display: flex;
    align-items: center;
    color: white;
}

.weather > div {
    margin: 0.625rem;
}
.weather1 {
    font-size: 4rem;
}

.weather p {
    font-size: 2rem;
}

.weather span{
    font-size: 0.75rem;
}

.weather3 span {
    margin: 0.3rem;
}

.weather3 img {
    width: 2rem;
}

nav {
    height: 100px;
    border-radius: 100px 100px 0 0;
    padding: 1rem 0 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(69, 67, 67, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form {
    width: 70%;
    grid-template-columns: 5fr 1fr;
    display: grid;
}

.searchField {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button {
    background-color: rgb(75, 74, 74);
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: black;
}

